@import 'react-toastify/dist/ReactToastify.css';

$theme-colors: (
  "primary": #3d565f,
  "danger": #c2160d,
  "secondary": #b1c903,
  "white": #fff,
  "dark": #64c4bd,
  "darker": #3d565f,
  "success": #b1c903,
  "info": #ffd900,
  "warning": #ff8700,
  "default": #7d53a7,
  "light": #cae8f2,
  "lighter": rgba(242,249,252,.824),
  "flag": #fdff00,
);

#root {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    font-size: 1rem;
    font-weight: 1.5;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

a {
    text-decoration: none!important;

    &.fc-daygrid-day-number, &.fc-col-header-cell-cushion {
        color: var(--bs-darker);
    }
}

.fc {
    .fc-daygrid-week-number {
        background-color: var(--bs-darker);
        color: var(--bs-lighter);
    }

    .fc-header-toolbar {
        .fc-button {
            background-color: var(--bs-darker);
        }
    }
}

.doku-wrapper {
    height: 100vh;
    iframe {
        height: 100%;
    }
}

@import "bootstrap";

.modal-dialog{
    width: 100vw;
}

.login-wrapper {
    height: 100vh;
}

.wlan-selected {
    position: relative;
  }

.materials-wrapper {
    width: 96%;

    button.wlan-selected.w-100 {
        padding-bottom: 20px;
    }
}


.form-group-wlan-options {
    display: flex;

    .form-floating {
        flex: 1;

        &:first-child {
            margin-right: 5px!important;
        }
    }
}

.form-group-checkbox {
    display: flex;
    flex-wrap: wrap;

    .form-label {
        display: block;
        font-weight: bold;
        width: 100%;
    }

    .custom-checkbox {
        margin: 0 8px 8px 0;
    }

    .badge-container {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
      }

      .close-badge {
        cursor: pointer;
        width: 34px;
        height: 34px;
      }
}


.form-group-date {
    display: flex;

    .form-floating {
        flex: 1;

        &:first-child {
            margin-right: 5px!important;
        }
    }
}

.form-group-time {
    display: flex;

    .form-floating {
        flex: 1;

        &:first-child {
            margin-right: 5px!important;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
    &-disabled{
        cursor: not-allowed;
    }
}

.custom-event-wrapper {
    color: #fff;
    padding: 2px 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
}

.custom-event {
    display: flex;
    flex-direction: column;
}

.event-timespan {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}
